<div class="row">
  <div class="col-lg-12 text-center m-t-md">
    <div class="content" animate-panel effect="zoomIn">
        <!-- <table ng-table="ulCtrl.IPMHubTableParams" class="table  table-bordered table-striped" show-filter="false">
          <tr ng-repeat="user in $data">
            <td title="'S.No'" class="text-center" width="1%">{{ $index+1 }}</td>
            Landing page
            Landing time
            Sign-up time
            Client first name
            Client last name
            Mobile phone
            Client email

            Primary Questions/Answers
            1
            2
            3
            4
            5
            6
            7

            Opt-In
            Credit repair
            Debt relief

            Seek
            Torro
            Fund&amp;Grow
            Funding circle
            OnDeck
            By LOC
            BV fact
            Rapid Adv
            National
            BFS
            SFS
            Yellow stone
            Pearl
            Everest
            Cresthill

            <td title="'Action'" class="text-center" width="1%">
              <div class="btn-group">
                <a id="dLabel" data-target="#" href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-bars"></i><span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><a ui-sref="users.view-user" href="javascript:void(0);" ng-click="ulCtrl.getUserDetail(user.Id)" title="View"><i class="fa fa-eye"></i> View</a></li>
                  <li><a ui-sref="users.manage-user"  ng-click="ulCtrl.getUserDetail(user.Id)" title="Edit"><i class="fa fa-edit"></i> Edit</a></li>
                  <li><a class="option delete" href="javascript:void(0);" ng-click="ulCtrl.deleteUser(user.Id)" title="Delete"><i class="fa fa-trash"></i> Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </table> -->

        <div class="row" ng-controller="LendersListCtrl as lendersData">
  <div class="col-md-12">
  <div class="panel-body">
  <div class="m-b10 text-left"><a class="btn btn-primary m-r5" ui-sref="lenders.create" title="Add New Lender"><i aria-hidden="true" class="fa fa-plus"></i> Add New Lender</a>
    <!-- <div class="search-area form-inline pull-right"><input type="text" name="" placeholder="search" class="form-control"><button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button></div> -->
    </div>
    <div class="table-responsive">
    <table ng-table="lendersData.mmstreetTableParams" class="table table-bordered table-hover" show-filter="true">
        <!-- <tr>
            <td colspan="7">Hello</td>
            <td colspan="7">Primary Questions/Answers</td>
            <td colspan="2">Opt - In</td>
            <td colspan="16">Qualified & Sent?</td>
        </tr> -->
        <tr ng-repeat="lenders in $data"> 
         <!--  <td width="1%">
            <input icheck type="checkbox" ng-model="userscheck">
          </td> -->
            <td title="'Category'" filter="{category: 'text'}" sortable="'logic_variables_app.category'">
                {{lenders.logic_variables_app.category}}</td>
              <td title="'Lender'" filter="{lender: 'text'}" sortable="'logic_variables_app.lender'">
                {{lenders.logic_variables_app.lender}}</td>
            <td title="'Loan Type'" filter="{loan_type: 'text'}" sortable="'logic_variables_app.loan_type'">
                {{lenders.logic_variables_app.loan_type}}</td>
            <td title="'Loan Purpose'" filter="{loan_purpose: 'text'}" sortable="'logic_variables_app.loan_purpose'">
                {{lenders.logic_variables_app.loan_purpose}}</td>
            <td title="'(Years) Minimum Time in Biz'" filter="{mini_time_in_biz: 'text'}" sortable="'logic_variables_app.mini_time_in_biz'">
                {{lenders.logic_variables_app.mini_time_in_biz}}</td>
            <td title="'(Years) Maximum Time in Biz'" filter="{max_time_in_biz: 'text'}" sortable="'logic_variables_app.max_time_in_biz'">
                {{lenders.logic_variables_app.max_time_in_biz}}</td>
            <td title="'Minimum FICO'" filter="{minimum_fico: 'text'}" sortable="'logic_variables_app.minimum_fico'">
                {{lenders.logic_variables_app.minimum_fico}}</td>
            <td title="'Maximum FICO'" filter="{maximum_fico: 'text'}" sortable="'logic_variables_app.maximum_fico'">
                {{lenders.logic_variables_app.maximum_fico}}</td>    
            <td title="'Minimum Monthly Revenue'" filter="{minimum_monthly_revenue: 'text'}" sortable="'logic_variables_app.minimum_monthly_revenue'">
                {{lenders.logic_variables_app.minimum_monthly_revenue}}</td>
            <td title="'Minimum Loan Amount'" filter="{minimum_loan_amount: 'text'}" sortable="'logic_variables_app.minimum_loan_amount'">
                {{lenders.logic_variables_app.minimum_loan_amount}}</td>
            <td title="'Maximum Loan Amount'" filter="{maximum_loan_amount: 'text'}" sortable="'logic_variables_app.maximum_loan_amount'">
                {{lenders.logic_variables_app.maximum_loan_amount}}</td>
            <td title="'Minimum APR'" filter="{minimum_apr: 'text'}" sortable="'logic_variables_app.minimum_apr'">
                {{lenders.logic_variables_app.minimum_apr}}</td>        
            <td title="'Maximum APR'" filter="{maximum_apr: 'text'}" sortable="'logic_variables_app.maximum_apr'">
                {{lenders.logic_variables_app.maximum_apr}}</td>
            <td title="'Minimum Simple Interest'" filter="{minimum_simple_interest: 'text'}" sortable="'logic_variables_app.minimum_simple_interest'">
                {{lenders.logic_variables_app.minimum_simple_interest}}</td>
            <td title="'Maximum Simple Interest'" filter="{maximum_simple_interest: 'text'}" sortable="'logic_variables_app.maximum_simple_interest'">
                {{lenders.logic_variables_app.maximum_simple_interest}}</td>
            <td title="'Invoices?'" filter="{invoices: 'text'}" sortable="'logic_variables_app.invoices'">
                {{lenders.logic_variables_app.invoices}}</td>
            <td title="'Insert Logo'" filter="{insert_logo: 'text'}" sortable="'display.insert_logo'">
                {{lenders.display.insert_logo}}</td>
            <td title="'Loan Type'" filter="{loan_type: 'text'}" sortable="'display.loan_type'">
                {{lenders.display.loan_type}}</td>
            <td title="'Description'" filter="{description: 'text'}" sortable="'display.description'">
                {{lenders.display.description}}</td>
            <td title="'Link'" filter="{link: 'text'}" sortable="'referral_link.link'">
                {{lenders.referral_link.link}}</td>
            <td title="'Lender Rep First Name'" filter="{lender_rep_first_name: 'text'}" sortable="'for_email_automation.lender_rep_first_name'">
                {{lenders.for_email_automation.lender_rep_first_name}}</td>
            <td title="'Lender Rep Last Name'" filter="{lender_rep_last_name: 'text'}" sortable="'for_email_automation.lender_rep_last_name'">
                {{lenders.for_email_automation.lender_rep_last_name}}</td>
            <td title="'Lender Rep Email Address'" filter="{lender_rep_email_address: 'text'}" sortable="'for_email_automation.lender_rep_email_address'">
                 <a href="mailto:{{lender_rep_email_address}}">{{lenders.for_email_automation.lender_rep_email_address}}</a></td>
            <td nowrap="true" title="'Lender Rep Phone Number'" filter="{lender_rep_phone_number: 'text'}" sortable="'for_email_automation.lender_rep_phone_number'">
                {{lenders.for_email_automation.lender_rep_phone_number}}</td>

                 <td nowrap="true" title="'Title'" filter="{lender_title: 'text'}" sortable="'for_email_automation.lender_title'">
                {{lenders.for_email_automation.lender_title}}</td>
           
           <!--  <td title="'Title'" nowrap="true" filter="{lender_title: 'text'}">
                {{lender.for_email_automation.lender_title}}</td> -->
           
            <td title="'Action'" align="center" nowrap="true" width="1%">
            <div class="btn-group">
                    <a id="dLabel" href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" 
                    aria-expanded="true"><i class="fa fa-bars"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <!-- <li><a href="javascript:void(0)" ng-click="lendersData.getLendersInfo()" title="View"><i class="fa fa-paste"></i> View</a></li> -->
                        <li><a href="javascript:void(0)" ui-sref="lenders.create" title="Edit"><i class="fa fa-pencil"></i> Edit</a></li>
                        <li><a href="javascript:void(0)" title="Delete"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
  </table>
  </div><!-- /.table-responsive -->
  <!-- <table ng-table="usersData.mmstreetTableParams" class="table table-bordered table-hover" show-filter="true">
        <tr ng-repeat="lenders in $data"> 
            <td title="'Department'" width="10%" filter="{ department: 'text'}" sortable="'department'">
                {{lenders.department}}</td>
          </tr>
  </table> -->
  </div><!-- .panel-body -->
  </div>
</div>
    </div>
  </div>
</div>