<div class="row" ng-controller="ManageLendersCtrl as mlCtrl">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="row">
                        <form role="form" name="add_lenders_form" novalidate="novalidate" ng-submit="mlCtrl.create(add_lenders_form);">
                            <div class="field-box col-md-12">
                                <div class="field-box-title"><h4>lender's Information</h4></div>
                                <div class="row">
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Business Type<span class="error">*</span>:</label>
                                        <div class="col-md-12">
                                                <select name="business" ng-model="mlCtrl.business" class="form-control" required>
                                                    <option value="">Select</option>
                                                    <option value="startUp">Start Up</option>
                                                    <option value="nonStartup">Non - Startup</option>
                                                    <option value="creditProducts">Credit Products</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Category<span class="error">*</span>:</label>
                                        <div class="col-md-12">
                                            <select name="category" class="form-control" ng-model="mlCtrl.category" required>
                                                    <option value="">Select</option>
                                                    <option value="startupLoan">Startup Loan</option>
                                                    <option value="personalCreditCard">Personal Credit card</option>
                                                    <option value="businessCredit">Business credit</option>
                                                    <option value="lineOfCredit">Line of credit</option>
                                                    <option value="termLoan">Term Loan</option>
                                                    <option value="invoiceFactoring">Invoice Factoring</option>
                                                    <option value="merchantCase">Merchant Case</option>
                                                    <option value="equipment">Equipment</option>
                                                    <option value="creditRepair">Credit repair</option>
                                                    <option value="debtRelief">Debt Relief</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Lender:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Loan Type:</label>
                                        <div class="col-md-12">
                                            <select name="countryCode" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Loan Purpose:</label>
                                        <div class="col-md-12">
                                            <select name="countryCode" class="form-control">
                                                    <option value="">Select</option>                                                    
                                                </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Minimum Time in business (Years):</label>
                                        <div class="col-md-12">                                           
                                            <select name="countryCode" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                        </div>
                                    </div> 
                                    <div class="form-group col-md-2 col-sm-2 clear-l">
                                        <label class="col-md-12">Maximum Time in business (Years):</label>
                                        <div class="col-md-12">                                           
                                            <select name="countryCode" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                        </div>
                                    </div>   
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Minimum FICO:</label>
                                        <div class="col-md-12">                                           
                                            <select name="countryCode" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                        </div>
                                    </div>   
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Maximum FICO:</label>
                                        <div class="col-md-12">                                           
                                            <select name="countryCode" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                        </div>
                                    </div>      


                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Minimum Monthly Revenue:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Minimum Loan Amount:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Maximum Loan Amount:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2 clear-l">
                                        <label class="col-md-12">Minimum APR:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Maximum APR:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Minimum Simple Interest:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Maximum Simple Interest:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Invoices?:</label>
                                        <div class="col-md-12">                                           
                                            <select name="countryCode" class="form-control">
                                                    <option value="">Select</option>
                                                </select>
                                        </div>
                                    </div>   
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">User Facing Category:</label>
                                        <div class="col-md-12">                                           
                                            <select name="countryCode" class="form-control">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.field-box -->

                            <div class="field-box col-md-12">
                                <div class="field-box-title"><h4>Display</h4></div>
                                <div class="row">
                                     <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Logo:</label>
                                        <div class="col-md-12">                                           
                                            <div class="form-control"><input type="file" name=""></div>
                                        </div>
                                    </div>   
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Loan Type:</label>
                                        <div class="col-md-12">                                           
                                            <select name="countryCode" class="form-control">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label class="col-md-12">Description<span class="error">*</span>:</label>
                                        <div class="col-md-12">
                                            <textarea class="form-control" name="addressline1"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-4">
                                        <label class="col-md-12">Referral Link:</label>
                                        <div class="col-md-12">
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>                                    
                                </div>
                            </div><!-- /.field-box -->

                            <div class="field-box col-md-12">
                                <div class="field-box-title"><h4>Contact Information</h4></div>
                                <div class="row">
                                     <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Representative's First name:</label>
                                        <div class="col-md-12">                                           
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>   
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Representative's Last name:</label>
                                        <div class="col-md-12">                                           
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Representative's email address<span class="error">*</span>:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Representative's Phone number:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2 col-sm-2">
                                        <label class="col-md-12">Representative's First title:</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.field-box -->
                            <div class="button-block right col-md-12">
                                <button title="Save" type="submit" class="btn btn-primary btn-mrn"><i class="fa fa-save"></i>Save Rule</button>
                                <button title="Cancel" type="button" ui-sref="dashboard" ng-click="mlCtrl.cancel()" class="btn btn-primary btn-mrn"><i class="fa fa-times"></i>Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 </div>