<div class="row">
  <div class="col-lg-12 text-center m-t-md">
    <div class="content" animate-panel effect="zoomIn">
        <div class="row" ng-controller="UsersListCtrl as usersData">
  <div class="col-md-12">
  <div class="panel-body">
  <div class="table-responsive">
    <table ng-table="usersData.mmstreetTableParams" class="table table-bordered table-hover" show-filter="true">
        <tr ng-repeat="user in $data">
         <!--  <td width="1%">
            <input icheck type="checkbox" ng-model="userscheck">
          </td> -->

            <!--<td title="'Landing Page'" filter="{ landing_page: 'text'}" sortable="'landing_page'">-->
                <!--{{user.landing_page}}</td>-->
            <td title="'Landing Page'" filter="{ landing_page: 'text'}" sortable="'landing_page'">
                 https://www.mrmainstreet.com </td>
            <!--<td nowrap="true" title="'Landing Time'" filter="{ landing_time: 'text'}" sortable="'landing_time'">-->
                <!--{{user.landing_time}}</td>-->
            <!--<td nowrap="true" title="'Sign-Up Time'" filter="{ signup_time: 'text'}" sortable="'signup_time'">-->
                <!--{{user.signup_time}}</td>-->
            <td title="'Client First Name'" filter="{ first_name: 'text'}" sortable="'first_name'">
                {{user.first_name}}</td>
            <td title="'Client Last Name'" filter="{ last_name: 'text'}" sortable="'last_name'">
            {{user.last_name}}</td>
            <!--<td title="'Mobile Phone'" filter="{ mobile_phone: 'text'}" sortable="'mobile_phone'">-->
            <!--{{user.mobile_phone}}</td>-->
            <td title="'Client Email'" filter="{ email: 'text'}" sortable="'email'">
            <a href="mailto:{{user.email}}">{{user.email}}</a></td>
            <!--<td title="'1'" filter="{.one: 'text'}" sortable="'.primary_QA.one'">-->
            <!--{{user.primary_QA.one}}</td>-->
            <!--<td title="'2'" filter="{two: 'text'}" sortable="'primary_QA.two'">-->
            <!--{{user.primary_QA.two}}</td>-->
            <!--<td title="'3'" filter="{three: 'text'}" sortable="'primary_QA.three'">-->
            <!--{{user.primary_QA.three}}</td>-->
            <!--<td title="'4'" filter="{four: 'text'}" sortable="'primary_QA.four'">-->
            <!--{{user.primary_QA.four}}</td>-->
            <!--<td title="'5'" filter="{five: 'text'}" sortable="'primary_QA.five'">-->
            <!--{{user.primary_QA.five}}</td>-->
            <!--<td title="'6'" filter="{six: 'text'}" sortable="'primary_QA.six'">-->
            <!--{{user.primary_QA.six}}</td>-->
            <!--<td title="'7'" filter="{seven: 'text'}" sortable="primary_QA.seven'">-->
            <!--{{user.primary_QA.seven}}</td>-->
            <!--<td nowrap="true"  title="'Credit Repair'" filter="{credit_repair: 'text'}" sortable="'opt_In.credit_repair'">-->
            <!--{{user.opt_In.credit_repair}}</td>-->
            <!--<td nowrap="true"  title="'Debt Relief'" filter="{debt_relief: 'text'}" sortable="'opt_In.debt_relief'">-->
            <!--{{user.opt_In.debt_relief}}</td>-->
            <!--<td nowrap="true"  title="'Seek'" filter="{seek: 'text'}" sortable="'qualified_sent.seek'">-->
            <!--{{user.qualified_sent.seek}}</td>-->
            <!--<td nowrap="true"  title="'Torro'" filter="{torro: 'text'}" sortable="'qualified_sent.torro'">-->
            <!--{{user.qualified_sent.torro}}</td>-->
            <!--<td nowrap="true"  title="'Fund&amp;Grow'" filter="{fund_grow: 'text'}" sortable="'qualified_sent.fund_grow">-->
            <!--{{user.qualified_sent.fund_grow}}</td>-->
            <!--<td nowrap="true"  title="'Funding Circle'" filter="{funding_circle: 'text'}" sortable="'qualified_sent.funding_circle'">-->
            <!--{{user.qualified_sent.funding_circle}}</td>-->
            <!--<td nowrap="true"  title="'On Deck'" filter="{on_deck: 'text'}" sortable="'qualified_sent.on_deck'">-->
            <!--{{user.qualified_sent.on_deck}}</td>-->
            <!--<td nowrap="true"  title="'BV LOC'" filter="{bv_loc: 'text'}" sortable="'qualified_sent.bv_loc'">-->
            <!--{{user.qualified_sent.bv_loc}}</td>-->
            <!--<td nowrap="true"  title="'BV Fact'" filter="{bv_fact: 'text'}" sortable="'qualified_sent.bv_fact'">-->
            <!--{{user.qualified_sent.bv_fact}}</td>-->
            <!--<td nowrap="true"  title="'Rapid Adv'" filter="{rapid_adv: 'text'}" sortable="'qualified_sent.rapid_adv'">-->
            <!--{{user.qualified_sent.rapid_adv}}</td>-->
            <!--<td nowrap="true"  title="'National'" filter="{national: 'text'}" sortable="'qualified_sent.national'">-->
            <!--{{user.qualified_sent.national}}</td>-->
            <!--<td nowrap="true"  title="'BFS'" filter="{bfs: 'text'}" sortable="'qualified_sent.bfs'">-->
            <!--{{user.qualified_sent.bfs}}</td>-->
            <!--<td nowrap="true"  title="'SFS'" filter="{sfs: 'text'}" sortable="'qualified_sent.sfs'">-->
            <!--{{user.qualified_sent.sfs}}</td>-->
            <!--<td nowrap="true"  title="'Yellowstone'" filter="{yellow_stone: 'text'}" sortable="'qualified_sent.yellow_stone'">-->
            <!--{{user.qualified_sent.yellow_stone}}</td>-->
            <!--<td nowrap="true"  title="'Pearl'" filter="{pear: 'text'}" sortable="'qualified_sent.pear'">-->
            <!--{{user.qualified_sent.pearl}}</td>-->
            <!--<td nowrap="true" title="'Everest'" filter="{everest: 'text'}" sortable="'qualified_sent.everest'">-->
            <!--{{user.qualified_sent.everest}}</td>-->
            <!--<td nowrap="true"  title="'Cresthill'" filter="{cresthill: 'text'}" sortable="'qualified_sent.cresthill'">-->
            <!--{{user.qualified_sent.cresthill}}</td>-->
            <td nowrap="true"  title="'Action'" align="center" nowrap="true" width="1%">
            <div class="btn-group">
                    <a id="dLabel" href="javascript:void(0);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-bars"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <!-- <li><a href="javascript:void(0)" ui-sref="users.list" title="View"><i class="fa fa-paste"></i> View</a></li>
                        <li><a href="javascript:void(0)" ui-sref="users.list" title="Edit"><i class="fa fa-pencil"></i> Edit</a></li> -->
                        <li><a href="" ng-click="usersData.delete(user)" title="Delete"><i class="fa fa-trash-o"></i> Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
  </table>
  <!-- <table ng-table="usersData.mmstreetTableParams" class="table table-bordered table-hover" show-filter="true">
        <tr ng-repeat="user in $data">
            <td title="'Department'" width="10%" filter="{ department: 'text'}" sortable="'department'">
                {{user.department}}</td>
          </tr>
  </table> -->
  </div><!-- /.table-responsive -->
  </div><!-- .panel-body -->
  </div>
</div>
    </div>
  </div>
</div>