<div class="color-line"></div>
<div ng-controller="LoginCtrl as logCtrl">
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h1>Mr. Main Street</h1>
                </div>
                <div class="hpanel">
                    <div class="panel-heading">Admin Login</div>
                    <div class="panel-body">
                        <form role="form" name="login_form" novalidate="novalidate"
                              ng-submit="logCtrl.login(logCtrl.loginData,login_form);">
                            <div class="form-group">
                                <label class="control-label form-row">Email</label>
                                <input type="email" placeholder="example@example.com"
                                       ng-model="logCtrl.loginData.useremail" class="form-control" name="email"
                                       required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" placeholder="******" title="Please enter your password"
                                       ng-model="logCtrl.loginData.password" required name="password" id="password"
                                       class="form-control">
                            </div>
                            <div class="col-md-7 p-l0">
                                <div class="checkbox">
                                    <label><input type="checkbox" ng-model="logCtrl.rememberMe"
                                                  ng-click="logCtrl.setRememberMe()"> Remember me</label>
                                </div>
                                &nbsp;
                            </div>
                            <div class="col-md-5 link-forgot-password">
                                <a ui-sref="common.reset-password">Forgot password?</a>
                                <br><br>
                            </div>
                            <div class="col-md-12 text-center">
                                <!-- <a class="btn btn-success btn-block" href="#/dashboard">Login</a> -->
                                <button class="btn btn-success btn-block" title="Login" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                &copy; 2017 Mr. Main Street. All rights reserved.
            </div>
        </div>
    </div>
</div>