<div ng-include='"static/website/resources/header.html"'></div>
<div ng-controller="HomeCtrl as hCtrl">
    <section id="main-slider" class="no-margin banner-section">
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-12 col-md-10 center-block pull-none col-xs-12">
                                <div class="carousel-content">
                                    <h2 class="animation animated-item-1"><span>Shop dozens of small business loans at once</span>
                                    </h2>
                                    <div class="funding-block">
                                        <span><% hCtrl.questions[0].question %></span>
                                        <form name="Loan" ng-submit="hCtrl.openQuestionsModel()" novalidate>
                                            <div class="form-group">
                                                <input name="loadAmount" type="text" ui-money-mask ng-model="hCtrl.loadAmount"
                                                       class="form-control"
                                                       placeholder="$ Loan Amount" min="5000" max="5000000" required>
                                            </div>
                                            <div class="button-group">
                                                <button type="submit"
                                                        class="btn btn-primary btn-lg">See My Loan Options <i
                                                        class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.funding-block -->
                                    <p class="text-center">Loans from $5,000 to $5,000,000</p>
                                </div>
                                <!-- /.carousel-content -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.item-->
            </div>
            <!--/.carousel-inner-->
        </div>
        <!--/.carousel-->
    </section>
    <!--/#main-slider-->
    <div class="feature">
        <div class="container">
            <div class="col-md-8">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms"
                     data-wow-delay="300ms">
                    <h3 class="content-heading">Our customers have a 95% approval rate for funding</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms"
                     data-wow-delay="600ms">

                    <img src="website/public/images/rate-of-funding.png">
                </div>
            </div>
        </div>
    </div>
    <!-- /.feature -->
    <div class="loan-expert-section">
        <div class="container">
            <div class="text-center"><h2 class="common-heading">In-depth articles and analysis</h2></div>
            <div class="row">
                <div class="col-md-8 center-block wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <a href="javascript:void(0)" title="Startup Financing">
                            <div class="white-block">
                                <i class="mm-icon mm-cog"></i>
                                <p>Startup Financing</p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                        <a href="javascript:void(0)" title="Term Loan">
                            <div class="white-block">
                                <i class="mm-icon mm-teamloan"></i>
                                <p>Term Loan</p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                        <a href="javascript:void(0)" title="Merchant Cash Advance">
                            <div class="white-block">
                                <i class="mm-icon mm-cash"></i>
                                <p>Merchant Cash Advance</p>
                            </div>
                            </a>
                        </div>                  
                        <div class="col-md-4 col-sm-4 col-xs-6">
                        <a href="javascript:void(0)" title="Business Line of Credit">
                            <div class="white-block">
                                <i class="mm-icon mm-credit"></i>
                                <p>Business Line of<br />Credit</p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                        <a href="javascript:void(0)" title="Invoice Financing">
                            <div class="white-block">
                                <i class="mm-icon mm-financing"></i>
                                <p>Invoice Financing</p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                        <a href="javascript:void(0)" title="Business Debt Relief">
                            <div class="white-block">
                                <i class="mm-icon mm-relief"></i>
                                <p>Business Debt Relief</p>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>             
            </div><!-- /.row -->
        </div>
    </div>    
    <!-- /.loan-expert-section -->
    <div class="how-it-works hidden-xs">
        <div class="container">
            <div class="text-center">
                <h2 class="common-heading font-black">How it works</h2></div>
            <div class="text-center">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="hi-icon-wrap hi-icon-effect wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible;-webkit-animation-duration:1000ms;-moz-animation-duration:1000ms; animation-duration: 1000ms;-webkit-animation-delay:300ms;-moz-animation-delay:300ms;animation-delay:300ms;">
                        <span class="circle-block"><i class="mm-icon mm-question"></i></span>
                        <p>Fill out a brief questionnaire</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="hi-icon-wrap hi-icon-effect wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible;-webkit-animation-duration:1000ms; -moz-animation-duration:1000ms;animation-duration: 1000ms;-webkit-animation-delay: 600ms; -moz-animation-delay: 600ms; animation-delay:600ms;">
                        <span class="circle-block"><i class="mm-icon mm-matches"></i></span>
                        <p>Review your matches</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 third-box-arrow">
                    <div class="hi-icon-wrap hi-icon-effect wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="900ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 900ms; -moz-animation-delay: 900ms; animation-delay: 900ms;">
                        <span class="circle-block"><i class="mm-icon mm-offers"></i></span>
                        <p>Get your offers</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="hi-icon-wrap hi-icon-effect wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1200ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 1200ms; -moz-animation-delay: 1200ms; animation-delay: 1200ms;">
                        <span class="circle-block"><i class="mm-icon mm-tools"></i></span>
                        <p>Use our tools to choose the best option</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="hi-icon-wrap hi-icon-effect wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1200ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 1200ms; -moz-animation-delay: 1200ms; animation-delay: 1200ms;">
                        <span class="circle-block"><i class="mm-icon mm-funded"></i></span>
                        <p>Get funded</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="hi-icon-wrap hi-icon-effect wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1200ms" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 1200ms; -moz-animation-delay: 1200ms; animation-delay: 1200ms;">
                        <span class="circle-block"><i class="mm-icon mm-nextlevel"></i></span>
                        <p>Graduate to the next level</p>
                    </div>
                </div>
                </div><!-- /.row -->
            </div>
        </div>
    </div><!-- /.how-it-works -->
    <div class="business-section text-center">
        <div class="container">
            <div class="text-center">
                <h2 class="common-heading font-black">We empower you to make the right decision for your business</h2>
            </div>
            <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="gray-block">
                   <i class="mm-icon mm-fastfree"></i>
                   <p>Fast And Free</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="gray-block">
                   <i class="mm-icon mm-rates"></i>
                   <p>Find The Lowest Rates</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="gray-block">
                   <i class="mm-icon mm-goals"></i>
                   <p>Tools to help you reach your financial goals</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="gray-block">
                   <i class="mm-icon mm-security"></i>
                   <p>Bank Level Security</p>
                </div>
            </div>
            </div><!-- /.row -->
        </div>
    </div>
    <!-- /.business-section -->
    <section class="grow-bussiness">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Ready to grow your business?</h2>
                <p>It's free–prequalify without affecting your credit!</p>
                <a  href="/#/apply-now" class="btn btn-primary">Apply Now</a>
            </div>
        </div>
        <!--/.container-->
    </section>
</div>
<div ng-include='"static/website/resources/footer.html"'></div>

