
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 asdas">
             <div class="form-group">
            <input type="text" name="first_name" id="firstname" ng-model="hCtrl.user.firstname" class="form-control input-sm"
                   placeholder="First Name"  allow-pattern="[a-z]" maxlength="20"  autocomplete="off" required>
        </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
             <div class="form-group">
            <input type="text" name="last_name" id="lastname" ng-model="hCtrl.user.lastname" class="form-control input-sm"
                   placeholder="Last Name"  allow-pattern="[a-z]" maxlength="20" autocomplete="off" required>
        </div>
        </div>
    </div>
        <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
           <div class="form-group">
              <input type="text" name="mobile"  allow-pattern="\d"  autocomplete="off" id="mobile" ng-model="hCtrl.user.mobile" ui-br-phone-number class="form-control input-sm" placeholder="Mobile Number" required>

        </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
                 <input type="email" name="email" autocomplete="off" id="email" maxlength="100" ng-model="hCtrl.user.email" class="form-control input-sm" placeholder="Email Address" required>

        </div>
        </div>
    </div>

    <div class="form-group">
              <input type="password" name="password" ng-pattern="/^(?=.*\d).+$/" autocomplete="off" id="password" ng-minlength="8"  maxlength="100" ng-model="hCtrl.user.password" class="form-control input-sm"
                   placeholder="Password" required>
    </div>

