<!-- This is content container for nested view in UI-Router-->
<!-- Header -->
<div id="header">
    <div class="color-line">
</div>
<div id="logo">
    <span>
        Mr. Main Street
    </span>
</div>
<nav role="navigation">
    <minimaliza-menu></minimaliza-menu>
    <div class="small-logo">
        <span class="text-primary">Mr. Main Street</span>
    </div>
    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse" >
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="common.login">Login</a>
                </li>
                <li>
                    <a ui-sref="common.register">Logout</a>
                </li>
                <li>
                    <a ui-sref="admin.profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>
</div>

<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
    <div class="profile-picture">
        <a href="index.html">
            <img src="/static/admin/images/profile.jpg" class="img-circle m-b" alt="logo">
        </a>

        <div class="stats-label text-color" ng-controller="UsersAuthCtrl as uACtrl">
        Welcome<br>
            <span class="font-extra-bold font-uppercase">{{uACtrl.loginUserFirstName}} {{uACtrl.loginUserLastName}}</span>

            <div class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href>
                    <small class="text-muted">Manager <b class="caret"></b></small>
                </a>
                <ul class="animated flipInX m-t-xs" uib-dropdown-menu>
                    <!-- <li><a ui-sref="admin.profile">Profile</a></li> 
                    <li class="divider"></li>-->
                    <li><a href="" ng-click="uACtrl.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <!-- <li ui-sref-active="active"><a ui-sref="dashboard"> <span class="nav-label">Dashboard</span></a></li> -->
        <li ui-sref-active="active"><a ui-sref="users.list">Users</a></li>
        <li ui-sref-active="active"><a ui-sref="lenders.list">Lenders</a></li>
        <li ui-sref-active="active"><a ui-sref="questions.list">Questions</a></li>
        <li ui-sref-active="active"><a ui-sref="reporting.list">Reporting</a></li>
    </ul>
</div>
</aside>

<!-- Main Wrapper -->
<div id="wrapper">
    <div small-header class="normalheader transition">
        <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a ui-sref="dashboard">Dashboard</a></li>
                        <li ng-repeat="state in $state.$current.path" ng-switch="$last || !!state.abstract" ng-class="{active: $last}">
                            <a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.data.pageTitle}}</a> 
                            <span ng-switch-when="true">{{state.data.pageTitle}}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    {{ $state.current.data.pageTitle }} 
                </h2> 
                <small> {{ $state.current.data.pageDesc }}</small>
            </div>
        </div>
    </div>
    <div class="content">
        <div ui-view animate-panel></div>
    </div>

        <!-- Footer -->
    <footer class="footer">
        <span class="pull-right">
            &copy; 2017 Mr. Main Street. All rights reserved.
        </span>
    </footer>

</div>